<p-toast></p-toast>

<p-dialog [(visible)]="authModal" 
          [style]="{width: '30vw'}" 
          [baseZIndex]="10000" 
          [modal]="true"
          [dismissableMask]="true"
          (onHide)="onAuthModalClose()">
    <p-tabView>
        <p-tabPanel header="Đăng nhập">
            <div class="p-field">
                <label for="username">Tên đăng nhập: </label>
                <input type="text" pInputText class="w-full" [(ngModel)]="loginForm.username" name="username">
            </div>
            <div class="p-field">
                <label for="password">Mật khẩu: </label>
                <div class="p-inputgroup">
                    <input [type]="showPassword ? 'text' : 'password'" pPassword class="w-full"
                        [(ngModel)]="loginForm.password" name="password">
                    <button pButton type="button" icon="pi {{ showPassword ? 'pi-eye-slash' : 'pi-eye' }}"
                        class="p-button-outlined" (click)="togglePasswordVisibility()"></button>
                </div>
                <div class="p-field mt-3">
                    <button type="submit" pButton (click)="login()">Đăng nhập</button>
                    <button type="submit" pButton (click)="forgot()" style="margin-left: 10px;">Quên mật khẩu</button>
                    <!-- <button type="submit" pButton (click)="gotoChangePassword()" style="margin-left: 10px;">Đổi mật khẩu</button> -->
                </div>
            </div>

        </p-tabPanel>
        <p-tabPanel header="Đăng ký">
            <form action="">
                <div class="p-field">
                    <label for="username">Tên đăng nhập: </label>
                    <input type="text" pInputText class="w-full" [(ngModel)]="registerForm.username" name="username">
                </div>
                <div class="p-field">
                    <label for="email">Email: </label>
                    <input type="email" pInputText class="w-full" [(ngModel)]="registerForm.email" name="email">
                </div>
                <div class="p-field">
                    <label for="password">Mật khẩu: </label>
                    <div class="p-inputgroup">
                        <input [type]="showPassword ? 'text' : 'password'" pPassword class="w-full"
                            [(ngModel)]="registerForm.password" name="password">
                        <button pButton type="button" icon="pi {{ showPassword ? 'pi-eye-slash' : 'pi-eye' }}"
                            class="p-button-outlined" (click)="togglePasswordVisibility()"></button>
                </div>
                </div>
                <div class="p-field mt-3">
                    <button type="submit" pButton (click)="register()">Đăng ký</button>
                </div>
            </form>
        </p-tabPanel>
        <!-- <p-tabPanel header="Đổi mật khẩu">
            <form action="">
                <div class="p-field">
                    <label for="email">Email: </label>
                    <input type="email" pInputText class="w-full" [(ngModel)]="changePasswordForm.email" name="email">
                </div>
                <div class="p-field">
                    <label for="currentPassword">Mật khẩu hiện tại: </label>
                    <input type="password" pPassword class="w-full" [(ngModel)]="changePasswordForm.currentPassword"
                        name="currentPassword">
                </div>

                <div class="p-field">
                    <label for="password">Mật khẩu mới: </label>
                    <input type="password" pPassword class="w-full" [(ngModel)]="changePasswordForm.newPassword"
                        name="newPassword">
                </div>
                <div class="p-field mt-3">
                    <button type="submit" pButton (click)="changePassword()">Đổi mật khẩu</button>
                </div>
            </form>
        </p-tabPanel> -->


    </p-tabView>
</p-dialog>



<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <!-- <ul>
                            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                            <li>Free Shipping for all Order of $99</li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="javascript:void(0)" routerLink="/"><img src="assets/image/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="javascript:void(0)" (click)="gotoHome()">Trang chủ</a></li>
                        <!-- <li><a href="javascript:void(0)" routerLink="/">Shop</a></li> -->
                        <li><a href="javascript:void(0)">Tiện ích</a>
                            <ul class="header__menu__dropdown">
                                <!-- <li><a href="javascript:void(0)" (click)="gotoshop()">Shop Details</a></li> -->
                                <li><a href="javascript:void(0)" (click)="gotocart()">Giỏ hàng</a></li>
                                <li><a href="javascript:void(0)" (click)="gotoCheckout()">Thanh toán</a></li>
                                <li><a href="javascript:void(0)" (click)="gotoBlog()">Danh sách bài viết</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)" routerLink="/blog">Bài viết</a></li>
                        
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="javascript:void(0)" (click)="wishlist.toggle($event)"><fa-icon
                                    [icon]="heart"></fa-icon> <span>{{wishlistService.items.length}}</span></a></li>
                        <p-overlayPanel #wishlist>
                            <ng-template pTemplate>
                                <div class="listItemInCart">
                                    <ul>
                                        <li *ngFor="let product of wishlistService.items" class="cart-box">
                                            <div class="cart-box-image p-2">
                                                <a href="javascript:void(0)" class="block"><img
                                                        src="{{'data:image/jpg;base64,' + product.images[0].data}}"
                                                        alt="" width="80px"></a>
                                            </div>
                                            <div class="cart-box-text">
                                                <a href="javascript:void(0)">{{product.name}}</a>
                                            </div>
                                            <button pButton pRipple type="button" icon="pi pi-times"
                                                class="p-button-rounded p-button-danger p-button-text"
                                                (click)="removeWishList(product)"></button>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </p-overlayPanel>
                        <li><a href="javascript:void(0)" (click)="cart.toggle($event)"><fa-icon [icon]="bag"></fa-icon>
                                <span>{{cartService.items.length}}</span></a></li>
                        <p-overlayPanel #cart>
                            <ng-template pTemplate>
                                <div class="listItemInCart">
                                    <ul>
                                        <li *ngFor="let product of cartService.items" class="cart-box">
                                            <div class="cart-box-image p-2">
                                                <a href="javascript:void(0)" class="block"><img
                                                        src="{{'data:image/jpg;base64,' + product.images[0].data}}"
                                                        alt="" width="80px"></a>
                                            </div>
                                            <div class="cart-box-text">
                                                <a href="javascript:void(0)">{{product.name}}</a>
                                                <div><span>{{product.quantity}} x </span>{{product.price |
                                                    currency:'VND':'symbol':'1.0-0':'vi-VN'}}</div>
                                            </div>
                                            <button pButton pRipple type="button" icon="pi pi-times"
                                                class="p-button-rounded p-button-danger p-button-text"
                                                (click)="removeFromCart(product)"></button>
                                        </li>
                                    </ul>
                                    <p-divider></p-divider>
                                    <div class="text-center">
                                    </div>
                                    <p-divider></p-divider>
                                    <div class="cart-button">
                                        <button pButton pRipple label="Đi tới giỏ hàng" class="w-full p-button-warning"
                                            routerLink="cart"></button>
                                    </div>
                                </div>
                            </ng-template>
                        </p-overlayPanel>
                        
                        <!-- User Section -->
                        <li *ngIf="!isLoggedIn">
                            <a href="javascript:void(0)" (click)="showAuthForm()" class="auth-link">
                                Đăng nhập / Đăng ký
                            </a>
                        </li>
                        
                        <li *ngIf="isLoggedIn">
                            <a href="javascript:void(0)" (click)="profile.toggle($event)">
                                <fa-icon [icon]="userIcon"></fa-icon>
                            </a>
                            <p-overlayPanel #profile>
                                <div>
                                    <a class="dropdown-item" href="javascript:void(0)" routerLink="/user">
                                        <fa-icon [icon]="userIcon"></fa-icon>
                                        Hồ sơ của tôi
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)" routerLink="my-order">
                                        <fa-icon [icon]="bag"></fa-icon>
                                        Đơn hàng của tôi
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" (click)="changePassword();profile.toggle($event)">
                                        <fa-icon [icon]="faKey"></fa-icon>
                                        Đổi mật khẩu
                                    </a>
                                    <a class="dropdown-item" (click)="logout();profile.toggle($event)">
                                        <fa-icon [icon]="logoutIcon"></fa-icon>
                                        Đăng xuất
                                    </a>
                                </div>
                            </p-overlayPanel>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all" (click)="showDepartmentClick()">
                        <fa-icon [icon]="bars"></fa-icon>
                        <span>Chọn danh mục</span>
                    </div>
                    <ul *ngIf="showDepartment">
                        <li><a href="javascript:void(0)" *ngFor="let category of listCategoryEnabled"
                                routerLink="category/{{category.id}}">{{category.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Tất cả danh mục
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Nhập sản phẩm muốn tìm kiếm?" [(ngModel)]="keyword"
                                name="keyword">
                            <button class="site-btn" routerLink="/search/{{keyword}}">TÌM KIẾM</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <fa-icon [icon]="phone"></fa-icon>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>0971823000</h5>
                            <span>Hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<router-outlet></router-outlet>



<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="javascript:void(0)"><img src="assets/image/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> Địa chỉ: Số 60-49, Đường 11378, Thành phố Hồ Chí Minh</li>
                        <li><i class="fa fa-phone"></i> Số điện thoại: 0971 823 000</li>
                        <li><i class="fa fa-envelope"></i> Email: ogani@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Liên kết hữu ích</h6>
                    <ul>
                        <li><a href="javascript:void(0)">Về chúng tôi</a></li>
                        <li><a href="javascript:void(0)">Giới thiệu cửa hàng</a></li>
                        <li><a href="javascript:void(0)">Mua sắm an toàn</a></li>
                        <li><a href="javascript:void(0)">Thông tin giao hàng</a></li>
                        <li><a href="javascript:void(0)">Chính sách bảo mật</a></li>
                        <li><a href="javascript:void(0)">Sơ đồ trang web</a></li>
                    </ul>
                    <ul>
                        <li><a href="javascript:void(0)">Câu chuyện của chúng tôi</a></li>
                        <li><a href="javascript:void(0)">Dịch vụ khách hàng</a></li>
                        <li><a href="javascript:void(0)">Dự án nổi bật</a></li>
                        <li><a href="javascript:void(0)">Liên hệ</a></li>
                        <li><a href="javascript:void(0)">Đổi mới & Phát triển</a></li>
                        <li><a href="javascript:void(0)">Đánh giá khách hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Đăng ký nhận tin</h6>
                    <p>Nhận thông tin cập nhật về sản phẩm mới và ưu đãi đặc biệt từ chúng tôi.</p>
                    <form action="#">
                        <input type="text" placeholder="Nhập email của bạn">
                        <button type="submit" class="site-btn">Đăng ký</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:void(0)" title="Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="javascript:void(0)" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>© 2025 Ogani. Bản quyền thuộc về Ogani Việt Nam | Thiết kế bởi 
                            <a href="javascript:void(0)" target="_blank">Ogani Team</a>
                        </p>
                    </div>
                    <div class="footer__copyright__payment">
                        <img src="assets/image/payment-item.png" alt="Phương thức thanh toán">
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</footer>